@model Bai2.Models.Room 



<h2>Product Details</h2> 



<div> 

	<h4>Hotel: @Model.Name</h4> 

	<h4>Departure: @Model.Departure</h4> 

	<h4>Arrival: @Model.Arrival</h4> 

	<h4>Type: @Model.Type</h4> 

	<h4>Price: @Model.Price</h4> 

	<h4>Guests: @Model.Guests</h4> 

</div> 



<a asp-action="Index">Back to List</a> 