@model IEnumerable<Bai2.Models.Product> 

@{
	int numOfQuantity = 1;
}

<h2>Products</h2> 

<section class="d-flex flex-row justify-content-center overflow-auto flex-wrap" style="gap: 1rem">
	@foreach (var product in Model)
	{ 

					<div class="card"  style="width: 18rem; height: 24rem; overflow: hidden"> 
							<div style="width: 18rem; height: 18rem; overflow: hidden">
									<img class="object-fit-cover" style="width: 18rem; height: 18rem;" src="@product.ImageUrl" ></img>
						</div>
							
						<div class="card-body">

							<div class="text-capitalize h3" >@product.Name</div> 

							<div>@product.Price</div> 

							<div class="flex"> 
								<a class="btn btn-primary" asp-action="Display" asp-route-id="@product.Id">View</a> 
								<a class="btn btn-primary" asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-productId="@product.Id" asp-route-quantity="@numOfQuantity">Add to cart</a> 
							</div>
						</div> 
					</div> 
	} 
</section>
