@model ShoppingCart 



<h2>Your Cart</h2> 



<table  class="table table-responsive"> 
    <thead>
    <tr> 

        <th>Product</th> 

        <th>Quantity</th> 

        <th>Price</th> 

        <th>Total</th> 

        <th>Action</th> 
    </tr> 
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    { 

            <tr> 

                <td>
					@item.Name
                    
                    </td> 

                <td>@item.Quantity</td> 

                <td>@item.Price</td> 

                <td>@(item.Price * item.Quantity)</td> 

                <td> 

                    <a class="btn btn btn-primary" asp-action="Increase" asp-route-id="@item.ProductId">Increase</a> 
                    <a class="btn btn-secondary" asp-action="Decrease" asp-route-id="@item.ProductId">Decrease</a> 
                    <a class="btn btn-danger" asp-action="RemoveFromCart" asp-route-id="@item.ProductId">Remove</a> 


                </td> 

            </tr> 

    } 
    </tbody>

</table> 

<a class="btn btn-primary" asp-action="CheckOut">Checkout</a> 